*/node_modules/*
.env
.txt

client_side/public/robots.txt


#react

# dependencies
/client_side/.pnp
/client_side/.pnp.js
.pnp
# testing
/coverage

# production
/build

/client_side/.eslintcache
.eslintcache


.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
